h1 {
  text-align: center;
}

.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-preview {
  border: 1px solid black;
  width: 90%;
  padding: 10px 20px;
  margin: 20px 0;
}

.product-preview > img {
  max-height: 200px;
  max-width: 100%;
}
